[View in Colaboratory](https://colab.research.google.com/github/papasanimohansrinivas/Machine-Learnings_/blob/master/Word2Vec.ipynb)

In [0]:
#@title Install Gensim Library

# !pip install gensim
# !pip install --upgrade gensim

In [0]:
from gensim.models import word2vec

In [0]:
#@title Showing this for demo purposes

sentences = ['hi i am mohan','how are you ','say that i asked your padmaja']*100

sentences = [t.split() for t in sentences]

In [0]:
# #@title mohan
# time=46 #@param {type:"slider",min:1,max:63}

# nam = 'mohan' #@param ['ko','mohan']

In [8]:
#@title Clone data from my Git Repo Data-Sets

!git clone  https://github.com/papasanimohansrinivas/Data-Sets.git -b AUTHOR_CLASSIFICATION

Cloning into 'Data-Sets'...
remote: Counting objects: 22, done.
remote: Compressing objects: 100% (2/2), done.
remote: Total 22 (delta 0), reused 2 (delta 0), pack-reused 20
Unpacking objects: 100% (22/22), done.

In [39]:
cd Data-Sets

/content/Data-Sets

In [16]:
# ls

C50.zip  data.csv

In [0]:
from sklearn.utils import shuffle

In [0]:
import pandas

In [0]:
td=pandas.read_csv("data.csv",header=None)

In [0]:
td.columns=['student','student_essay_no','essay']

In [0]:
td = shuffle(td)

In [22]:
td.head()

,student,student_essay_no,essay
846,81,2,Sources for College Writing Students can draw ...
91,15,7,Exercise 1We are working hard for the poor to ...
502,54,7,To: naveenjadala@gmail.comSubject: Performance...
936,92,11,Email From : Srikanth AvadhanulaTo : Ms. Hasmi...
843,81,12,Q) When I was trolling some career websites th...

In [0]:
#@title tokenize the words 

def modify_column(sentence):
  
  sentence = sentence.lower()
  
  sentences = sentence.split()
  
  return sentences

In [0]:
td['essay']=td['essay'].apply(modify_column)

In [0]:
word_2_vec = word2vec.Word2Vec

In [0]:
import numpy

In [0]:
gensim_model = word_2_vec(numpy.array(td['essay']),min_count=1)

In [0]:
gensim_model.save("fname")

In [301]:
td.head()

,student,student_essay_no,essay
488,53,7,"[1), the, person, who, influenced, me, the, me..."
842,81,11,"[e-mail, writingfrom:, shanmukhato:, hasmithac..."
651,66,3,"[exercise, 1make, the, following, sentences, m..."
193,23,6,"[q.make, the, sentences, more, concise:1., we,..."
407,45,6,"[starting, with, the, positive, points, of, a,..."

In [0]:
new_df = td.copy(deep=True)

In [0]:
def apply_gensim(array):
  
  global gensim_model
  
  import numpy
  
  return numpy.sum([gensim_model.wv[word] for word  in  array],axis=0)

In [0]:
#@title apply wordvectors and sum them over sentence

new_df['essay'] = new_df['essay'].apply(apply_gensim)

In [0]:
#@title Base Line Model my KNN

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
Authors = pandas.DataFrame(new_df['student'].copy(deep=True))

In [419]:
Authors.head()

     student
488       53
842       81
651       66
193       23
407       45

In [0]:
from keras.utils import to_categorical

In [0]:
Authors= pandas.DataFrame(to_categorical(Authors['student']))

In [0]:
Essays = pandas.DataFrame(new_df['essay'].copy(deep=True))

In [0]:
arrays = Essays['essay']

In [0]:
arr = []

for u in arrays:
  arr.append(u)

In [0]:
Essays = pandas.DataFrame(arr)

In [0]:
X_train,X_test,Y_train,Y_test = train_test_split(Essays,Authors,test_size=0.33,random_state=42)

In [431]:
X_train.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
591,432.558289,348.188568,-251.965530,-34.994316,-370.761139,112.215332,-400.605713,-536.458923,124.303253,185.425766,...,-653.511108,-193.492569,144.490570,35.712055,-90.635078,279.899628,-12.411811,222.044266,-149.048599,-189.484024
494,205.612244,125.193794,-108.818260,-25.999647,-156.386246,54.965496,-170.285202,-210.838531,67.997063,60.234974,...,-284.811615,-92.695992,32.450974,17.821682,-57.603737,145.199554,-29.485807,73.833351,-43.386688,-80.107689
552,385.950226,293.904388,-229.868195,-16.654009,-302.132782,103.558884,-370.580475,-441.907562,120.996918,178.319122,...,-588.991211,-168.758652,128.142639,26.927372,-30.244772,253.865448,19.448488,206.253708,-129.411819,-154.215103
793,19.577719,60.839355,-30.042681,5.822379,-46.857944,23.128574,-32.041183,-72.239731,40.009029,21.718382,...,-90.463516,-25.205465,43.182560,32.423061,0.980614,20.982388,3.362409,22.187410,-16.440582,-13.862960
736,139.186066,92.148064,-70.119850,-32.815594,-117.751015,28.919464,-94.073647,-108.960098,27.283867,46.640728,...,-185.998672,-68.857330,3.673292,8.098952,-35.937096,84.186310,25.014101,57.123177,-27.762365,-56.698814

In [0]:
from sklearn.neighbors import KNeighborsClassifier

In [0]:
#@title Kth - Nearest Neighbour
knn=KNeighborsClassifier(n_neighbors=15, weights='distance', algorithm='auto', leaf_size=30, p=2, metric='minkowski', n_jobs=1)

In [434]:
knn.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=15, p=2,
           weights='distance')

In [0]:
results = knn.predict(X_test)

In [447]:
results[211]

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0.])

In [0]:
def compare(lst,numpy_arr):
  
  numpy_arr = numpy.array(numpy_arr)
  
  length = len(numpy_arr)
  
  c = 0
  
  for i in range(length):
    
    if numpy_arr[i]==lst[i]:
      
      c+=1
      
  c+=0.0
  
  print "counts_matched : {r}  total_accuracy : {acc}".format(r=c,acc=(c/length)*100)

In [438]:
compare(results,Y_test)

ValueError: ignored

In [0]:
from sklearn.tree import DecisionTreeClassifier

In [0]:
dtf=DecisionTreeClassifier()

In [450]:
dtf.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [0]:
dtc_results = dtf.predict(X_test)

In [460]:
Y_test

,0,1,2,3,4,5,6,7,8,9,...,94,95,96,97,98,99,100,101,102,103
428,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
533,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
388,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
423,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
420,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
158,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
237,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
662,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
543,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
923,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
394,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
582,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
914,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1025,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
309,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
688,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
588,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
244,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
801,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
750,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
755,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
506,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
350,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
872,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
745,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
286,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
382,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
239,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
319,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
211,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
746,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
530,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
751,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
227,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
887,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
457,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
826,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
969,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
429,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
986,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
514,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
346,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
705,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
155,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
786,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
481,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
329,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
519,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
439,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
807,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
949,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
602,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
968,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [459]:
dtc_results[220]

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0.])

In [452]:
compare(dtc_results,Y_test)

ValueError: ignored

In [0]:
from sklearn.linear_model import LogisticRegression

In [0]:
#@title Logistic Regression
lg=LogisticRegression()

In [330]:
lg.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [0]:
lg_results = lg.predict(X_test)

In [332]:
compare(lg_results,Y_test)

counts_matched : 10.0  total_accuracy : 2.94117647059

In [0]:
from sklearn.svm import SVC

In [0]:
#@title SVM 
sv = SVC()

In [335]:
sv.fit(X_train,Y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [0]:
sv_results = sv.predict(X_test)

In [337]:
compare(sv_results,Y_test)

counts_matched : 7.0  total_accuracy : 2.05882352941

In [0]:
gensim_model.save("fname")

In [0]:
from sklearn.naive_bayes import GaussianNB

In [0]:
#@title Guassian Naive Bayes 
gbNB=GaussianNB()

In [359]:
gbNB.fit(X_train,Y_train)

GaussianNB(priors=None)

In [0]:
gb_results = gbNB.predict(X_test)

In [362]:
compare(gb_results,Y_test)

counts_matched : 3.0  total_accuracy : 0.882352941176

In [0]:
from keras.models import Sequential

In [0]:
from keras.layers import Dense

In [0]:
#@title Vanilla Neural Netowork
NN_model = Sequential()

In [0]:
NN_model.add(Dense(100,activation='sigmoid',input_shape=(100,)))

In [0]:
NN_model.add(Dense(100,activation='sigmoid'))

In [0]:
NN_model.add(Dense(104,activation='sigmoid'))

In [0]:
NN_model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['categorical_accuracy'])

In [480]:
NN_model.fit(X_train,Y_train,epochs=20)

Epoch 1/20
688/688 [==============================] - 0s 406us/step - loss: 4.6587 - categorical_accuracy: 0.0160
Epoch 2/20
688/688 [==============================] - 0s 192us/step - loss: 4.5657 - categorical_accuracy: 0.0174
Epoch 3/20
688/688 [==============================] - 0s 181us/step - loss: 4.5320 - categorical_accuracy: 0.0145
Epoch 4/20
688/688 [==============================] - 0s 195us/step - loss: 4.5166 - categorical_accuracy: 0.0160
Epoch 5/20
688/688 [==============================] - 0s 177us/step - loss: 4.5096 - categorical_accuracy: 0.0160
Epoch 6/20
688/688 [==============================] - 0s 192us/step - loss: 4.5079 - categorical_accuracy: 0.0203
Epoch 7/20
688/688 [==============================] - 0s 185us/step - loss: 4.5053 - categorical_accuracy: 0.0203
Epoch 8/20
688/688 [==============================] - 0s 174us/step - loss: 4.5026 - categorical_accuracy: 0.0174
Epoch 9/20
688/688 [==============================] - 0s 181us/step - loss: 4.5046 - categorical_accuracy: 0.0145
Epoch 10/20
688/688 [==============================] - 0s 188us/step - loss: 4.4989 - categorical_accuracy: 0.0189
Epoch 11/20
688/688 [==============================] - 0s 191us/step - loss: 4.5000 - categorical_accuracy: 0.0203
Epoch 12/20
688/688 [==============================] - 0s 188us/step - loss: 4.4991 - categorical_accuracy: 0.0203
Epoch 13/20
688/688 [==============================] - 0s 181us/step - loss: 4.4948 - categorical_accuracy: 0.0203
Epoch 14/20
688/688 [==============================] - 0s 218us/step - loss: 4.4983 - categorical_accuracy: 0.0203
Epoch 15/20
688/688 [==============================] - 0s 232us/step - loss: 4.4965 - categorical_accuracy: 0.0218
Epoch 16/20
688/688 [==============================] - 0s 210us/step - loss: 4.4979 - categorical_accuracy: 0.0203
Epoch 17/20
688/688 [==============================] - 0s 222us/step - loss: 4.4950 - categorical_accuracy: 0.0203
Epoch 18/20
688/688 [==============================] - 0s 212us/step - loss: 4.4942 - categorical_accuracy: 0.0203
Epoch 19/20
688/688 [==============================] - 0s 230us/step - loss: 4.4956 - categorical_accuracy: 0.0203
Epoch 20/20
 32/688 [>.............................] - ETA: 0s - loss: 4.4372 - categorical_accuracy: 0.0000e+00

688/688 [==============================] - 0s 221us/step - loss: 4.4957 - categorical_accuracy: 0.0203

In [0]:
 NN_result = NN_model.predict(X_test)

In [0]:
def comparision(np_arry,np_arry2):
  
  np_arry  = list(numpy.array(np_arry))
  
  np_arry2 = list(numpy.array(np_arry2))
  
  l = len(np_arry)
  
  xc = 0 
  
  for iu in range(l):
    
    if int(round(np_arry[iu][0]))==np_arry2[iu][0]:
      
      xc+=1
  
  print "counts : {xc} , total_accuracy : {acc}".format(xc=xc,acc=((xc+0.0)/l))

In [415]:
comparision(NN_result,Y_test)

counts : 4 , total_accuracy : 0.0117647058824

In [481]:
ls

C50.zip  data.csv  fname

In [36]:
cd ..

/content

In [37]:
ls

datalab/  Data-Sets/

In [0]:
!rm -rf git

In [0]:
# !git init

In [0]:
# !git add .

In [0]:
# !git config --global user.email "papasani.mohansrinivas@gmail.com"
# !git config --global user.name "papasanimohansrinivas"

In [0]:
# !git commit -m "is"

In [0]:
# !git branch

In [0]:
# !git  push -u https://papasanimohansrinivas:1dontknow@github.com/papasanimohansrinivas/Data-Sets.git  AUTHOR_CLASSIFICATION